-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "email" TEXT,
    "phone" TEXT,
    "passwordHash" TEXT NOT NULL,
    "platformRole" TEXT,
    "isEmailVerified" BOOLEAN NOT NULL DEFAULT false,
    "isPhoneVerified" BOOLEAN NOT NULL DEFAULT false,
    "twoFactorEnabled" BOOLEAN NOT NULL DEFAULT false,
    "twoFactorSecret" TEXT,
    "backupCodes" TEXT,
    "preferredLanguage" TEXT NOT NULL DEFAULT 'fr',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    "deletedAt" DATETIME
);

-- CreateTable
CREATE TABLE "refresh_tokens" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "deviceInfo" TEXT,
    "isTrusted" BOOLEAN NOT NULL DEFAULT false,
    "expiresAt" DATETIME NOT NULL,
    "revokedAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "refresh_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "associations" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "logoUrl" TEXT,
    "currency" TEXT NOT NULL DEFAULT 'XAF',
    "country" TEXT NOT NULL DEFAULT 'CM',
    "language" TEXT NOT NULL DEFAULT 'fr',
    "branding" TEXT,
    "legalStatus" TEXT,
    "registrationRef" TEXT,
    "plan" TEXT NOT NULL DEFAULT 'DISCOVERY',
    "subscriptionStatus" TEXT NOT NULL DEFAULT 'ACTIVE',
    "trialEndsAt" DATETIME,
    "subscriptionEndsAt" DATETIME,
    "settings" TEXT,
    "motto" TEXT,
    "savingsInterestRate" REAL NOT NULL DEFAULT 0,
    "joiningFee" REAL NOT NULL DEFAULT 0,
    "alertThresholds" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "association_members" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'MEMBER',
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "memberNumber" TEXT,
    "joinedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "suspendedAt" DATETIME,
    "expelledAt" DATETIME,
    "proxyUserId" TEXT,
    "joiningFeePaidAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "association_members_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "association_members_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "member_profiles" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "memberId" TEXT NOT NULL,
    "firstName" TEXT,
    "lastName" TEXT,
    "photoUrl" TEXT,
    "idCardType" TEXT,
    "idCardNumber" TEXT,
    "idCardUrl" TEXT,
    "address" TEXT,
    "profession" TEXT,
    "emergencyContactName" TEXT,
    "emergencyContactPhone" TEXT,
    "proxyName" TEXT,
    "proxyPhone" TEXT,
    "proxyNotes" TEXT,
    "proxyIsActive" BOOLEAN NOT NULL DEFAULT false,
    "proxyExpiresAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "member_profiles_memberId_fkey" FOREIGN KEY ("memberId") REFERENCES "association_members" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "invitations" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "invitedByMemberId" TEXT NOT NULL,
    "email" TEXT,
    "phone" TEXT,
    "role" TEXT NOT NULL DEFAULT 'MEMBER',
    "token" TEXT NOT NULL,
    "expiresAt" DATETIME NOT NULL,
    "usedAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "invitations_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "invitations_invitedByMemberId_fkey" FOREIGN KEY ("invitedByMemberId") REFERENCES "association_members" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "member_certificates" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "associationName" TEXT,
    "memberId" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "qrCodeUrl" TEXT,
    "pdfUrl" TEXT,
    "issuedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" DATETIME,
    "revokedAt" DATETIME,
    "revokedReason" TEXT,
    CONSTRAINT "member_certificates_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "member_certificates_memberId_fkey" FOREIGN KEY ("memberId") REFERENCES "association_members" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "caisses" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'MAIN',
    "name" TEXT NOT NULL,
    "balance" REAL NOT NULL DEFAULT 0,
    "isLoanable" BOOLEAN NOT NULL DEFAULT false,
    "isBankAccount" BOOLEAN NOT NULL DEFAULT false,
    "accountDetails" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "caisses_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "transactions" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "caisseId" TEXT NOT NULL,
    "destinationCaisseId" TEXT,
    "type" TEXT NOT NULL,
    "amount" REAL NOT NULL,
    "reference" TEXT NOT NULL,
    "description" TEXT,
    "memberId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "receiptUrl" TEXT,
    "createdByUserId" TEXT,
    "approvedByUserId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "transactions_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "transactions_caisseId_fkey" FOREIGN KEY ("caisseId") REFERENCES "caisses" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "transactions_destinationCaisseId_fkey" FOREIGN KEY ("destinationCaisseId") REFERENCES "caisses" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "transactions_memberId_fkey" FOREIGN KEY ("memberId") REFERENCES "association_members" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "transactions_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "users" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "transactions_approvedByUserId_fkey" FOREIGN KEY ("approvedByUserId") REFERENCES "users" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "budgets" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "caisseId" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "limitAmount" REAL NOT NULL,
    "periodStart" DATETIME NOT NULL,
    "periodEnd" DATETIME NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "budgets_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "budgets_caisseId_fkey" FOREIGN KEY ("caisseId") REFERENCES "caisses" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "annual_budgets" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "title" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "annual_budgets_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "budget_items" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "annualBudgetId" TEXT NOT NULL,
    "caisseId" TEXT,
    "type" TEXT NOT NULL DEFAULT 'EXPENSE',
    "category" TEXT NOT NULL,
    "estimatedAmount" REAL NOT NULL,
    "description" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "budget_items_annualBudgetId_fkey" FOREIGN KEY ("annualBudgetId") REFERENCES "annual_budgets" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "budget_items_caisseId_fkey" FOREIGN KEY ("caisseId") REFERENCES "caisses" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "profit_distributions" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "annualBudgetId" TEXT,
    "year" INTEGER NOT NULL,
    "baseUnitAmount" REAL NOT NULL DEFAULT 5000,
    "partyExpenses" REAL NOT NULL DEFAULT 0,
    "retainedReserve" REAL NOT NULL DEFAULT 0,
    "netProfit" REAL NOT NULL DEFAULT 0,
    "distributableProfit" REAL NOT NULL DEFAULT 0,
    "totalMonthSavings" REAL NOT NULL DEFAULT 0,
    "monthlyGainCoeff" REAL NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'SIMULATED',
    "executedAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "profit_distributions_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "profit_distributions_annualBudgetId_fkey" FOREIGN KEY ("annualBudgetId") REFERENCES "annual_budgets" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "dividend_items" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "distributionId" TEXT NOT NULL,
    "memberId" TEXT NOT NULL,
    "totalSavings" REAL NOT NULL DEFAULT 0,
    "monthSavings" REAL NOT NULL DEFAULT 0,
    "dividendAmount" REAL NOT NULL DEFAULT 0,
    "totalPayout" REAL NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "paidAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "dividend_items_distributionId_fkey" FOREIGN KEY ("distributionId") REFERENCES "profit_distributions" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "dividend_items_memberId_fkey" FOREIGN KEY ("memberId") REFERENCES "association_members" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "bank_reconciliations" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "caisseId" TEXT NOT NULL,
    "statementDate" DATETIME NOT NULL,
    "systemBalance" REAL NOT NULL,
    "actualBalance" REAL NOT NULL,
    "difference" REAL NOT NULL,
    "isResolved" BOOLEAN NOT NULL DEFAULT false,
    "createdByUserId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "bank_reconciliations_caisseId_fkey" FOREIGN KEY ("caisseId") REFERENCES "caisses" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "bank_reconciliations_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "users" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT,
    "actorId" TEXT,
    "category" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "targetType" TEXT,
    "targetId" TEXT,
    "metadata" TEXT,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "audit_logs_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "audit_logs_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES "users" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "loans" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "borrowerMemberId" TEXT NOT NULL,
    "guarantorMemberId" TEXT,
    "caisseId" TEXT NOT NULL,
    "amount" REAL NOT NULL,
    "interestRate" REAL NOT NULL DEFAULT 0,
    "dailyPenaltyRate" REAL NOT NULL DEFAULT 0.001,
    "totalToRepay" REAL NOT NULL,
    "balanceRemaining" REAL NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "reason" TEXT,
    "startDate" DATETIME,
    "dueDate" DATETIME,
    "approvedByUserId" TEXT,
    "approvedAt" DATETIME,
    "informalReminderAt" DATETIME,
    "informalReminderNotes" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "loans_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "loans_borrowerMemberId_fkey" FOREIGN KEY ("borrowerMemberId") REFERENCES "association_members" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "loans_guarantorMemberId_fkey" FOREIGN KEY ("guarantorMemberId") REFERENCES "association_members" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "loans_caisseId_fkey" FOREIGN KEY ("caisseId") REFERENCES "caisses" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "loan_repayments" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "loanId" TEXT NOT NULL,
    "amount" REAL NOT NULL,
    "transactionId" TEXT,
    "notes" TEXT,
    "paidAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdByUserId" TEXT,
    CONSTRAINT "loan_repayments_loanId_fkey" FOREIGN KEY ("loanId") REFERENCES "loans" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "sanctions" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "memberId" TEXT NOT NULL,
    "caisseId" TEXT,
    "title" TEXT NOT NULL,
    "reason" TEXT,
    "fineAmount" REAL NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "severity" TEXT NOT NULL DEFAULT 'MINOR',
    "issuedByUserId" TEXT,
    "paidAt" DATETIME,
    "transactionId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "sanctions_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "sanctions_memberId_fkey" FOREIGN KEY ("memberId") REFERENCES "association_members" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "sanctions_caisseId_fkey" FOREIGN KEY ("caisseId") REFERENCES "caisses" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "tontines" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "caisseId" TEXT,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "type" TEXT NOT NULL DEFAULT 'FIXED_ORDER',
    "amountPerRound" REAL NOT NULL,
    "frequency" TEXT NOT NULL DEFAULT 'MONTHLY',
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "startDate" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "tontines_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "tontines_caisseId_fkey" FOREIGN KEY ("caisseId") REFERENCES "caisses" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "tontine_members" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "tontineId" TEXT NOT NULL,
    "memberId" TEXT NOT NULL,
    "position" INTEGER,
    "joinedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "tontine_members_tontineId_fkey" FOREIGN KEY ("tontineId") REFERENCES "tontines" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "tontine_members_memberId_fkey" FOREIGN KEY ("memberId") REFERENCES "association_members" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "tontine_rounds" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "tontineId" TEXT NOT NULL,
    "roundNumber" INTEGER NOT NULL,
    "dueDate" DATETIME NOT NULL,
    "beneficiaryMemberId" TEXT,
    "auctionAmount" REAL,
    "potAmount" REAL NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'OPEN',
    "disbursedAt" DATETIME,
    "transactionId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "tontine_rounds_tontineId_fkey" FOREIGN KEY ("tontineId") REFERENCES "tontines" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "tontine_rounds_beneficiaryMemberId_fkey" FOREIGN KEY ("beneficiaryMemberId") REFERENCES "association_members" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "tontine_contributions" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "roundId" TEXT NOT NULL,
    "memberId" TEXT NOT NULL,
    "amount" REAL NOT NULL,
    "isPaid" BOOLEAN NOT NULL DEFAULT false,
    "paidAt" DATETIME,
    "transactionId" TEXT,
    CONSTRAINT "tontine_contributions_roundId_fkey" FOREIGN KEY ("roundId") REFERENCES "tontine_rounds" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "tontine_contributions_memberId_fkey" FOREIGN KEY ("memberId") REFERENCES "association_members" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "meetings" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "type" TEXT NOT NULL DEFAULT 'ORDINARY',
    "status" TEXT NOT NULL DEFAULT 'SCHEDULED',
    "location" TEXT,
    "scheduledAt" DATETIME NOT NULL,
    "startedAt" DATETIME,
    "endedAt" DATETIME,
    "agenda" TEXT,
    "minutes" TEXT,
    "autoSanctionAbsence" BOOLEAN NOT NULL DEFAULT false,
    "absenceFineAmount" REAL NOT NULL DEFAULT 0,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "meetings_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "meeting_attendances" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "meetingId" TEXT NOT NULL,
    "memberId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ABSENT',
    "arrivalTime" DATETIME,
    "notes" TEXT,
    "sanctionId" TEXT,
    CONSTRAINT "meeting_attendances_meetingId_fkey" FOREIGN KEY ("meetingId") REFERENCES "meetings" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "meeting_attendances_memberId_fkey" FOREIGN KEY ("memberId") REFERENCES "association_members" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "resolutions" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "meetingId" TEXT,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "category" TEXT NOT NULL DEFAULT 'GENERAL_PROPOSAL',
    "status" TEXT NOT NULL DEFAULT 'OPEN',
    "voteType" TEXT NOT NULL DEFAULT 'OPEN_VOTE',
    "quorumThreshold" REAL NOT NULL DEFAULT 50,
    "majorityThreshold" REAL NOT NULL DEFAULT 50,
    "targetRole" TEXT,
    "candidateMemberId" TEXT,
    "electedMemberId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "resolutions_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "resolutions_meetingId_fkey" FOREIGN KEY ("meetingId") REFERENCES "meetings" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "resolutions_electedMemberId_fkey" FOREIGN KEY ("electedMemberId") REFERENCES "association_members" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "resolutions_candidateMemberId_fkey" FOREIGN KEY ("candidateMemberId") REFERENCES "association_members" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "cast_votes" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "resolutionId" TEXT NOT NULL,
    "voterMemberId" TEXT NOT NULL,
    "choice" TEXT NOT NULL DEFAULT 'FOR',
    "candidateMemberId" TEXT,
    "votedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "cast_votes_resolutionId_fkey" FOREIGN KEY ("resolutionId") REFERENCES "resolutions" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "cast_votes_voterMemberId_fkey" FOREIGN KEY ("voterMemberId") REFERENCES "association_members" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "notifications" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "channel" TEXT NOT NULL DEFAULT 'IN_APP',
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "linkUrl" TEXT,
    "status" TEXT NOT NULL DEFAULT 'UNREAD',
    "sentAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "readAt" DATETIME,
    CONSTRAINT "notifications_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "equipments" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" TEXT NOT NULL DEFAULT 'MATERIEL',
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "availableQty" INTEGER NOT NULL DEFAULT 1,
    "condition" TEXT NOT NULL DEFAULT 'GOOD',
    "purchaseValue" REAL NOT NULL DEFAULT 0,
    "rentalRateDay" REAL NOT NULL DEFAULT 0,
    "notes" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "equipments_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "equipment_rentals" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "associationId" TEXT NOT NULL,
    "equipmentId" TEXT NOT NULL,
    "renterName" TEXT NOT NULL,
    "renterPhone" TEXT,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "startDate" DATETIME NOT NULL,
    "endDate" DATETIME NOT NULL,
    "totalAmount" REAL NOT NULL,
    "advancePaid" REAL NOT NULL DEFAULT 0,
    "balanceDue" REAL NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'CONFIRMED',
    "notes" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "equipment_rentals_associationId_fkey" FOREIGN KEY ("associationId") REFERENCES "associations" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "equipment_rentals_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES "equipments" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "contact_messages" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "users_phone_key" ON "users"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "refresh_tokens_token_key" ON "refresh_tokens"("token");

-- CreateIndex
CREATE INDEX "refresh_tokens_userId_idx" ON "refresh_tokens"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "associations_slug_key" ON "associations"("slug");

-- CreateIndex
CREATE INDEX "association_members_associationId_idx" ON "association_members"("associationId");

-- CreateIndex
CREATE INDEX "association_members_userId_idx" ON "association_members"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "association_members_associationId_userId_key" ON "association_members"("associationId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "member_profiles_memberId_key" ON "member_profiles"("memberId");

-- CreateIndex
CREATE UNIQUE INDEX "invitations_token_key" ON "invitations"("token");

-- CreateIndex
CREATE INDEX "invitations_associationId_idx" ON "invitations"("associationId");

-- CreateIndex
CREATE INDEX "invitations_token_idx" ON "invitations"("token");

-- CreateIndex
CREATE UNIQUE INDEX "member_certificates_token_key" ON "member_certificates"("token");

-- CreateIndex
CREATE INDEX "member_certificates_associationId_idx" ON "member_certificates"("associationId");

-- CreateIndex
CREATE INDEX "member_certificates_memberId_idx" ON "member_certificates"("memberId");

-- CreateIndex
CREATE INDEX "member_certificates_token_idx" ON "member_certificates"("token");

-- CreateIndex
CREATE INDEX "caisses_associationId_idx" ON "caisses"("associationId");

-- CreateIndex
CREATE UNIQUE INDEX "transactions_reference_key" ON "transactions"("reference");

-- CreateIndex
CREATE INDEX "transactions_associationId_idx" ON "transactions"("associationId");

-- CreateIndex
CREATE INDEX "transactions_caisseId_idx" ON "transactions"("caisseId");

-- CreateIndex
CREATE INDEX "transactions_memberId_idx" ON "transactions"("memberId");

-- CreateIndex
CREATE INDEX "transactions_reference_idx" ON "transactions"("reference");

-- CreateIndex
CREATE INDEX "budgets_associationId_idx" ON "budgets"("associationId");

-- CreateIndex
CREATE INDEX "budgets_caisseId_idx" ON "budgets"("caisseId");

-- CreateIndex
CREATE INDEX "annual_budgets_associationId_idx" ON "annual_budgets"("associationId");

-- CreateIndex
CREATE UNIQUE INDEX "annual_budgets_associationId_year_key" ON "annual_budgets"("associationId", "year");

-- CreateIndex
CREATE INDEX "budget_items_annualBudgetId_idx" ON "budget_items"("annualBudgetId");

-- CreateIndex
CREATE INDEX "budget_items_caisseId_idx" ON "budget_items"("caisseId");

-- CreateIndex
CREATE INDEX "profit_distributions_associationId_idx" ON "profit_distributions"("associationId");

-- CreateIndex
CREATE INDEX "dividend_items_distributionId_idx" ON "dividend_items"("distributionId");

-- CreateIndex
CREATE INDEX "dividend_items_memberId_idx" ON "dividend_items"("memberId");

-- CreateIndex
CREATE INDEX "bank_reconciliations_caisseId_idx" ON "bank_reconciliations"("caisseId");

-- CreateIndex
CREATE INDEX "audit_logs_associationId_idx" ON "audit_logs"("associationId");

-- CreateIndex
CREATE INDEX "audit_logs_actorId_idx" ON "audit_logs"("actorId");

-- CreateIndex
CREATE INDEX "audit_logs_category_idx" ON "audit_logs"("category");

-- CreateIndex
CREATE INDEX "audit_logs_createdAt_idx" ON "audit_logs"("createdAt");

-- CreateIndex
CREATE INDEX "loans_associationId_idx" ON "loans"("associationId");

-- CreateIndex
CREATE INDEX "loans_borrowerMemberId_idx" ON "loans"("borrowerMemberId");

-- CreateIndex
CREATE INDEX "loans_caisseId_idx" ON "loans"("caisseId");

-- CreateIndex
CREATE INDEX "loan_repayments_loanId_idx" ON "loan_repayments"("loanId");

-- CreateIndex
CREATE INDEX "sanctions_associationId_idx" ON "sanctions"("associationId");

-- CreateIndex
CREATE INDEX "sanctions_memberId_idx" ON "sanctions"("memberId");

-- CreateIndex
CREATE INDEX "sanctions_status_idx" ON "sanctions"("status");

-- CreateIndex
CREATE INDEX "tontines_associationId_idx" ON "tontines"("associationId");

-- CreateIndex
CREATE INDEX "tontine_members_tontineId_idx" ON "tontine_members"("tontineId");

-- CreateIndex
CREATE INDEX "tontine_members_memberId_idx" ON "tontine_members"("memberId");

-- CreateIndex
CREATE UNIQUE INDEX "tontine_members_tontineId_memberId_key" ON "tontine_members"("tontineId", "memberId");

-- CreateIndex
CREATE INDEX "tontine_rounds_tontineId_idx" ON "tontine_rounds"("tontineId");

-- CreateIndex
CREATE INDEX "tontine_rounds_beneficiaryMemberId_idx" ON "tontine_rounds"("beneficiaryMemberId");

-- CreateIndex
CREATE INDEX "tontine_contributions_roundId_idx" ON "tontine_contributions"("roundId");

-- CreateIndex
CREATE INDEX "tontine_contributions_memberId_idx" ON "tontine_contributions"("memberId");

-- CreateIndex
CREATE UNIQUE INDEX "tontine_contributions_roundId_memberId_key" ON "tontine_contributions"("roundId", "memberId");

-- CreateIndex
CREATE INDEX "meetings_associationId_idx" ON "meetings"("associationId");

-- CreateIndex
CREATE INDEX "meetings_scheduledAt_idx" ON "meetings"("scheduledAt");

-- CreateIndex
CREATE INDEX "meeting_attendances_meetingId_idx" ON "meeting_attendances"("meetingId");

-- CreateIndex
CREATE INDEX "meeting_attendances_memberId_idx" ON "meeting_attendances"("memberId");

-- CreateIndex
CREATE UNIQUE INDEX "meeting_attendances_meetingId_memberId_key" ON "meeting_attendances"("meetingId", "memberId");

-- CreateIndex
CREATE INDEX "resolutions_associationId_idx" ON "resolutions"("associationId");

-- CreateIndex
CREATE INDEX "resolutions_status_idx" ON "resolutions"("status");

-- CreateIndex
CREATE INDEX "cast_votes_resolutionId_idx" ON "cast_votes"("resolutionId");

-- CreateIndex
CREATE INDEX "cast_votes_voterMemberId_idx" ON "cast_votes"("voterMemberId");

-- CreateIndex
CREATE UNIQUE INDEX "cast_votes_resolutionId_voterMemberId_key" ON "cast_votes"("resolutionId", "voterMemberId");

-- CreateIndex
CREATE INDEX "notifications_associationId_idx" ON "notifications"("associationId");

-- CreateIndex
CREATE INDEX "notifications_userId_idx" ON "notifications"("userId");

-- CreateIndex
CREATE INDEX "notifications_status_idx" ON "notifications"("status");

-- CreateIndex
CREATE INDEX "equipments_associationId_idx" ON "equipments"("associationId");

-- CreateIndex
CREATE INDEX "equipment_rentals_associationId_idx" ON "equipment_rentals"("associationId");

-- CreateIndex
CREATE INDEX "equipment_rentals_equipmentId_idx" ON "equipment_rentals"("equipmentId");

